<template>
  <!-- <b-navbar class="fat-generic"> -->
  <b-navbar>
    <template slot="brand">
      <b-navbar-item class="has-text-info" tag="nuxt-link" to="/">
        <b>LifeLine</b>&nbsp;
        <b class="has-text-danger title">+</b>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="nuxt-link" to="/">Home</b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/dashboard" v-if="isLoggedIn">Dashboard</b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/about">Learn More</b-navbar-item>
    </template>

    <template slot="end">
      <!-- Login -->
      <b-navbar-item tag="div" v-if="!isLoggedIn">
        <b-button tag="nuxt-link" type="is-primary" to="/login">Log in</b-button>
      </b-navbar-item>

      <!-- LogOut & Username -->
      <b-navbar-item tag="div" v-else>
        <p>
          What's poppin',
          <b>{{ username || "" }}</b>!&nbsp;&nbsp;
        </p>
        <b-button type="is-danger" @click="logout">Log out</b-button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    },
    username() {
      return this.$store.state.username;
    }
  },
  methods: {
    logout() {
      this.$store.commit("LOG_OUT");
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
.navbar {
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.navbar.fat-generic {
  margin: 0;
  border-radius: 0;
  left: 0;
  right: 0;
  top: 0;
}

.navbar-brand {
  margin: 0 1rem;
  width: 100%;
}
</style>