<template>
    <div class="map-view dispatcher">
        <div class="map-hover-indicator" v-if="selectionStage === 'chooseEmergencyOnMap'">
            <h3 class="subtitle is-5">
                Emergency Type:
                <b class="has-text-info">{{ hoveredEmergencyType }}</b>
            </h3>
        </div>
        <div class="map-hover-indicator" v-if="selectionStage === 'addRespondersToEmergency'">
            <h3 class="subtitle is-5">
                Current Responder:
                <b class="has-text-info">{{ hoveredResponder }}</b>
            </h3>
        </div>
        <client-only placeholder="Loading!">
            <!-- Emergency markers -->
            <GmapMap :center="center" :zoom="12" ref="map">
                <template v-if="selectionStage === 'chooseEmergencyOnMap'">
                    <GmapMarker
                        :key="index"
                        v-for="(emergency, index) in emergencies"
                        :position="makePositionFromModel(emergency)"
                        :clickable="true"
                        @mouseover="markerMouseOver(emergency)"
                        @mouseout="markerMouseOut()"
                        @click="chooseEmergency(emergency)"
                        icon="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                    />
                </template>
                <GmapMarker
                    v-if="selectedEmergency && selectionStage !== 'chooseEmergencyOnMap'"
                    :position="makePositionFromModel(selectedEmergency)"
                    icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                />
                <template v-if="selectionStage === 'addRespondersToEmergency'">
                    <GmapMarker
                        :key="index"
                        v-for="(responder, index) in respondersAvailable"
                        :clickable="true"
                        @mouseover="responderMouseOver(responder)"
                        @mouseout="responderMouseOut()"
                        @click="addResponder(responder, index)"
                        :position="makePositionFromModel(responder)"
                        icon="http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                    />
                </template>
            </GmapMap>
        </client-only>
        <div
            class="data-panel section"
            ref="dataView"
            :style="`display: ${
                selectionStage === 'editEmergencyData'
                ? 'inline-block' : 'flex'
            }`"
        >
            <div v-if="selectionStage === 'chooseEmergencyOnMap'" class="has-text-centered">
                <h1 class="title is-3 has-text-info">Dispatcher</h1>
                <p class="subtitle">
                    Choose the location of your emergency from the map on the
                    left.
                </p>
                <br />
                <h1 class="title is-1">⬅️</h1>
            </div>
            <div v-if="selectionStage === 'editEmergencyData'" style="overflow-y: auto; max-height: calc(100vh - 13.5rem); padding-right: 1.5rem;">
                <div>
                    <a class="subtitle has-text-info" @click="goBackToMapStage">⟵ Back</a>
                    <a 
                        class="subtitle has-text-info" @click="submitFieldEdits"
                        style="float: right;"
                    >Done! ⟶</a>
                </div>
                <br /><br />
                <!-- Editing Inputs -->
                <div class="edit-inputs">
                    <div class="columns">
                        <div class="column" style="display: flex; flex-direction: column;">
                            <h1 class="title is-3">Edit Emergency Data</h1>
                            <b-field label="Person Name">
                                <b-input v-model="healthInfo.name" />
                            </b-field>
                            <b-field label="Person DOB">
                                <b-input v-model="healthInfo.birthdate" />
                            </b-field>
                            <b-field label="Person Primary Language">
                                <b-input v-model="healthInfo.primary_language" />
                            </b-field>
                            <b-field label="Emergency Type">
                                <b-input v-model="selectedEmergency.emergency_type" />
                            </b-field>
                            <b-field label="Emergency Description">
                                <b-input v-model="selectedEmergency.description" type="textarea" style="flex: 1" />
                            </b-field>
                        </div>
                        <div class="column" style="display: flex; flex-direction: column;">
                            <h1 class="title is-3">Edit Health Data</h1>
                            <b-field label="Medical Notes">
                                <b-input v-model="healthInfo.med_notes" type="textarea" style="flex: 1" />
                            </b-field>
                            <b-field label="Allergies">
                                <b-input v-model="healthInfo.allergies" />
                            </b-field>
                            <b-field label="Blood Type">
                                <b-input v-model="healthInfo.blood_type" />
                            </b-field>
                            <b-field label="Height (Inches)">
                                <b-input v-model="healthInfo.height_inches" />
                            </b-field>
                            <b-field label="Weight (Pounds)">
                                <b-input v-model="healthInfo.weight_pounds" />
                            </b-field>
                            <b-field label="Medications">
                                <b-input v-model="healthInfo.medications" />
                            </b-field>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="selectionStage === 'addRespondersToEmergency'" class="has-text-centered">
                <h1 class="title is-3 has-text-info">Assign Responders</h1>
                <p class="subtitle">
                    Choose responders to assign from the map on the
                    left.
                </p>
                <br>
                <h1 class="title is-1">⬅️ 
                    <b-button type="is-success" class="finish-button" tag="nuxt-link" to="/">Finished!</b-button>
                </h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        emergencies: Array
    },

    data() {
        return {
            // Placeholder until geolocation override.
            displayedEmergencies: this.emergencies,
            center: {
                lat: 10,
                lng: 10
            },
            hoveredEmergencyType: "None Selected",
            hoveredResponder: "None",
            selectedEmergency: null,
            selectionStage: "chooseEmergencyOnMap",
            healthInfo: null,
            respondersAvailable: null
        };
    },
    methods: {
        // Get lat, long from the emergency object:
        makePositionFromModel({ lat, lon }) {
            return {
                lat: parseFloat(lat),
                lng: parseFloat(lon)
            };
        },
        // When hovering over a marker:
        markerMouseOver({ emergency_type }) {
            this.hoveredEmergencyType =
                emergency_type.trim().toLowerCase() === "none" ?
                "unknown" :
                emergency_type.trim().toLowerCase();
        },
        // When mouse leaves a marker:
        markerMouseOut() {
            if (this.selectionStage === "chooseEmergencyOnMap")
                this.hoveredEmergencyType = "None Selected";
        },
        // Click on a marker, transition to the editing emergency stage:
        async chooseEmergency(emergency) {
            this.center = this.makePositionFromModel(emergency);
            this.selectedEmergency = emergency;

            const healthInfoReq = await this.$axios(
                this.selectedEmergency.health_entry, {
                    method: "GET",
                    headers: {
                        Authorization: `Bearer ${this.$store.state.accessToken}`
                    }
                }
            );
            this.healthInfo = healthInfoReq.data;

            this.$refs.map.$el.style.pointerEvents = "none";
            this.$refs.dataView.style.width = "65vw";
            this.selectionStage = "editEmergencyData";
            this.displayedEmergencies = [emergency];

            this.selectedEmergency = emergency;

            const respondersAvailableReq = await this.$axios(
                process.env.apiURL + "/users/?user_type=responder&emergency=null", {
                    method: "GET",
                    headers: {
                        Authorization: `Bearer ${this.$store.state.accessToken}`
                    }
                }
            );

            this.respondersAvailable = respondersAvailableReq.data;
        },
        // Go back to choosing if u misclicked
        goBackToMapStage() {
            this.selectedEmergency = null;
            this.healthInfo = null;
            this.respondersAvailable = [];
            this.$refs.map.$el.style.pointerEvents = "all";
            this.$refs.dataView.style.width = "25vw";
            this.hoveredEmergencyType = "None Selected";
            this.selectionStage = "chooseEmergencyOnMap";
            this.displayedEmergencies = this.emergencies;
        },
        // When hovering over a marker:
        responderMouseOver({ name }) {
            this.hoveredResponder = name;
        },
        // When mouse leaves a marker:
        responderMouseOut() {
            this.hoveredResponder = "None Selected";
        },
        // Finish editing the emergency info:
        async submitFieldEdits() {
            try {
                // Edit health info
                await this.$axios(this.selectedEmergency.health_entry, {
                    method: "PUT",
                    headers: {
                        Authorization: `Bearer ${this.$store.state.accessToken}`
                    },
                    data: this.healthInfo
                });

                // Edit emergency info
                await this.$axios(this.selectedEmergency.url, {
                    method: "PUT",
                    headers: {
                        Authorization: `Bearer ${this.$store.state.accessToken}`
                    },
                    data: this.selectedEmergency
                });
            }
            catch (e) { this.$swal("Unknown error. Please retry"); location.reload(); }
            

            this.$refs.dataView.style.width = "45vw";
            this.selectionStage = "addRespondersToEmergency";
            this.$refs.map.$el.style.pointerEvents = "all";
        },
        // Add a responder to an emergency:
        async addResponder(responder, index) {
            this.respondersAvailable.splice(index, 1);
            await this.$axios(responder.url, {
                method: "PUT",
                headers: {
                    Authorization: `Bearer ${this.$store.state.accessToken}`
                },
                data: { ...responder, emergency: this.selectedEmergency.url }
            });
            this.$swal(`Added responder, ${responder.name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  }`)
        }
    },
    mounted() {
        // Center map @ current location:
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(
                ({ coords }) => {
                    this.center.lat = coords.latitude;
                    this.center.lng = coords.longitude;
                },
                console.error, {
                    enableHighAccuracy: true
                }
            );
        }
    }
};
</script>

<style scoped>
.vue-map-container {
    flex: 1;
    border-right: 2px solid #fd7069;
}

.map-hover-indicator {
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid royalblue;
    border-top-right-radius: 10px;
    z-index: 69;
    background: white;
    padding: 0.25rem 0.5rem;
}

.map-view.dispatcher .data-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    transition: width ease-in-out 0.5s;
}

.finish-button {
    position: relative;
    top: 0.5rem;
}
</style>
