<template>
  <div>
    <h3 class="title is-4">Fire</h3>
    <p class="is-4">Corner of Santa Rita & W. Las Positas Blvd.</p>
    <p>Responders:</p>
    <ul>
      <li>Your mom</li>
      <li>Your mom</li>
      <li>Your mom</li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>