<template>
  <div class="has-text-centered section jumbotron" :style="`background: ${background};`">
    <h1 class="title is-1 has-text-weight-medium" :style="`color: ${color};`">{{ title }}</h1>
    <p class="subtitle is-3 has-text-weight-light" :style="`color: ${color};`">{{ subtitle }}</p>
    <slot>
    </slot>
  </div>
</template>

<script>
export default {
  props: { title: String, subtitle: String, background: String, color: String }
};
</script>

<style scoped>
.jumbotron {
    padding: 5rem;
    padding-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}
</style>