<template>
    <div class="map-view responder">
        <!-- Map -->
        <client-only>
            <GmapMap 
                :center="center" 
                :zoom="16"
            >
                <GmapMarker 
                    :position="emergencyPosition"
                    icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                />
                <GmapMarker 
                    :position="currentLocation"
                    icon="http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                />
            </GmapMap>
        </client-only>

        <!-- Data View -->
        <div class="data-view section">
            <!-- Legend for the map -->
            <div class="map-key">
                <p class="subtitle">Map Key</p>
                <small>
                    <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
                    Emergency Location
                </small>
                <br>
                <small>
                    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
                    Current Location
                </small>
            </div>
            
            <div class="data-display">
                <div class="col">
                    <p class="subtitle no-bot-margin">Emergency Type</p>
                    <p>{{ emergency && emergency.emergency_type }}</p>
                    <br>

                    <p class="subtitle no-bot-margin">Emergency Description</p>
                    <p>{{ emergency && (emergency.description || "None")  }}</p>
                    <br>

                    <p class="subtitle no-bot-margin">Reported Name</p>
                    <p>{{ healthInfo && healthInfo.name }}</p>
                    <br>

                    <p class="subtitle no-bot-margin">Reported DOB</p>
                    <p>{{ healthInfo && healthInfo.birthdate }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const wait = timeout => new Promise(resolve => setTimeout(resolve, timeout));

export default {
    props: {
        userInfo: Object
    },
    data() {
        return {
            center: { lat: 0, lng: 0 },
            emergency: null,
            healthInfo: null,
            currentLocation: { lat: 0, lng: 0 }
        };
    },
    computed: {
        emergencyPosition() {
            const pos = this.emergency ?
                { lat: parseFloat(this.emergency.lat), lng: parseFloat(this.emergency.lon) } 
                : { lat: 0, lng: 0 };
            return pos;
        }
    },
    methods: {
        async demo() {
            // Demo code:
            await wait(1200);
            for (let i = 0; i <= 60; i++) {
                this.currentLocation.lat -= 0.0000625;
                await wait(200);
            }
            this.$swal("You have reached the emergency location.");
        }
    },
    async created() {
        // Get the emergency:
        const emergencyReq = await this.$axios(this.userInfo.emergency, {
            method: "GET",
            headers: {
                Authorization: `Bearer ${this.$store.state.accessToken}`
            }
        });
        this.emergency = emergencyReq.data;

        // Use emergency to get health info:
        const healthInfoReq = await this.$axios(this.emergency.health_entry, {
            method: "GET",
            headers: {
                Authorization: `Bearer ${this.$store.state.accessToken}`
            }
        });
        this.healthInfo = healthInfoReq.data;
    },
    mounted() {
        // Center map @ current location:
        if ("geolocation" in navigator && !process.env.demoMode) {
            navigator.geolocation.getCurrentPosition(
                ({ coords }) => {
                    this.currentLocation = {
                        lat: coords.latitude,
                        lng: coords.longitude
                    };
                    this.center = this.currentLocation;
                },
                console.error, {
                    enableHighAccuracy: true
                }
            );

            navigator.geolocation.watchPosition(
                async ({ coords }) => {
                    this.currentLocation = {
                        lat: coords.latitude,
                        lng: coords.longitude
                    };
                    this.center = this.currentLocation;
                    await this.$axios(this.userInfo.url, {
                        method: "PUT",
                        headers: {
                            Authorization: `Bearer ${this.$store.state.accessToken}`
                        },
                        data: { ...this.userInfo, lat: coords.latitude, lon: coords.longitude }
                    });
                },
                console.error, {
                    enableHighAccuracy: true
                }
            );
        }
        // Demo mode
        else if (process.env.demoMode) {
            this.currentLocation = {
                lat: parseFloat(this.userInfo.lat),
                lng: parseFloat(this.userInfo.lon)
            };

            this.center = this.currentLocation;
            this.demo();
        }
    }
};
</script>

<style scoped>
.data-view {
    max-height: calc(100vh - 7.5rem);
}

.vue-map-container {
    flex: 1;
    border-right: 2px solid #fd7069;
    height: 100%;
}

.no-bot-margin {
    margin-bottom: 0;
}

/* Map Legend */
.map-key {
    margin-bottom: 1rem;
}

.map-key p {
    margin-bottom: 0.25rem;
}

.map-key img {
    height: 1rem;
}

/* Data view section */
.data-display {
    display: flex;
}

.data-display > .col {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
</style>
