<template>
    <section>
		<Jumbotron
			title="About Lifeline"
            subtitle="Learn the story behind the 48 hour hack."
			background="linear-gradient(135deg, #667eea 0%, #764ba2 100%)"
			color="white"
		/>

		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">Our Inspiration</h2>
			<p class="is-4">
                During these tough times, we were concerned by the 
                amount of stress placed upon our emergency services.
                After further research, we found that there were already 
                issues with our emergency services system - miscommunications 
                resulted in thousands of deaths per year - and with the increased 
                stress on our responders, these figures would only go up. In order 
                to improve this situation, we decided to make a dynamic management 
                system to help emergency services coordinate and communicate more effectively.

			</p>
		</div>
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">What does Lifeline do?</h2>
			<p class="is-4">
                LifeLine sends geolocation and health information 
                of the caller ahead of time to emergency services.
                This allows emergency responders to be informed 
                of the situation ahead of time. Additionally, the 
                people in the emergency situation will always know
                where the responders are through the app, so that
                they can take more-informed next steps in stressful situations.
			</p>
		</div>
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">How did we build it?</h2>
			<p class="is-4">
                Our web frontend, written in the powerful 
                <a href="http://vuejs.org/">VueJS</a>, 
                embraces the JAMStack as a prerendered single-page
                application built with the durable meta-framework,
                NuxtJS. The views are styled with 
                <a href="https://buefy.org">Buefy components</a>. 
                and its underlying CSS library, 
                <a href="https://bulma.io">Bulma</a>. 
                We utilized the 
                <a href="https://developers.google.com/maps/documentation">Google Maps API</a>
                for geocoding and displaying maps.
			</p>
			<p class="is-4">
                We designed our backend REST API with 
                <a href="https://djangoproject.org">Django</a> and 
                the simple, flexible Django SQL-backed Rest Framework,
                authenticated via JSON Web Tokens. We utilized MySQL, 
                a table-based data store for more efficient and simpler backend logic. 
			</p>
			<p class="is-4">
                The iOS front end uses the powerful, new, and reactive 
                <a href="https://developer.apple.com/xcode/swiftui/">SwiftUI</a>
                library. We have implemented 
                <a href="https://developer.apple.com/health-fitness/">HealthKit</a>
                to get quick and easy medical information about the user and 
                <a href="https://developer.apple.com/documentation/mapkit">MapKit</a>
                to give the user a live and accurate view 
                of where their first responders are.
			</p>
		</div>
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">Challenges</h2>
			<p class="is-4">
                We initially tried to do a websockets approach, but 
                after realizing that it isn't well-supported on all 
                platforms, we decided to switch to an HTTP polling method. 
			</p>
			<p class="is-4">
                Another issue that we ran into was that Visual Studio 
                Code Live Share, our real-time code collaboration 
                tool, repeatedly disconnected, which made it a bit 
                difficult to stay productive. 
			</p>
		</div>
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">Accomplishments We're Proud Of</h2>
			<p class="is-4">
                We are proud that we have pulled together a team with 
                members that have never worked with each other before, 
                and still built to make a completely functional 
                full-stack application with both web and iOS support. 
			</p>
		</div>
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">What We Learned</h2>
			<p class="is-4">
                We learned how to build a REST API with Django, and 
                how to utilize MySQL for more efficient backend logic. 
                Our frontend developers have also learned how to use 
                the Google and Apple Maps API for both displaying 
                locations and geocoding.
			</p>
		</div>
		<br />
		<br />
		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">What's Next For Lifeline</h2>
			<p class="is-4">
                We will implement smart-watch technology such as heart 
                rate and blood oxygen levels into the app, on top of 
                call transcribing features to make it even easier 
                for both emergency services and people in trouble.
			</p>
		</div>
    </section>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>