<template>
	<section>
		<div class="top-spacer"></div>

		<!-- Dispatcher View -->
		<DispatcherView 
            v-if="userInfo && userInfo.user_type === 'dispatcher'"
            :emergencies="emergencies" 
        />

		<!-- Responder View -->
        <client-only v-if="userInfo && userInfo.user_type === 'responder' && typeof userInfo.emergency === 'string'">
            <ResponderView
                class="map-view responder"
                :userInfo="userInfo"
            />
        </client-only>

        <!-- Responder View if no emergencies -->
        <div class="responder-no-emergency" v-else-if="userInfo && userInfo.user_type === 'responder'">
            <h1 class="subtitle is-2 has-text-centered">
                You have no emergencies assigned<br>
                at the moment, get some rest!<br>
                You deserve it. 
                <br>
                <b-button type="is-info" size="is-large" tag="nuxt-link" to="/">
                    Take a break.
                </b-button>
            </h1>
        </div>
	</section>
</template>

<script>
export default {
	// Make sure someone's logged in:
	beforeCreate() {
		if (!this.$store.state.accessToken) this.$router.push("/login");
	},

	data() {
		return {
			// Placeholder until geolocation override.
			userInfo: null,
			emergencies: null
		};
	},
	// Get user info:
	async asyncData({ $axios, store }) {
		try {
			const userInfoReq = await $axios(
				`${process.env.apiURL}/users/user_from_token/`,
				{
					method: "POST",
					headers: {
						Authorization: `Bearer ${store.state.accessToken}`
					}
				}
			);

			const emergenciesReq = await $axios(
				`${process.env.apiURL}/emergencies/?modified=false`,
				{
					method: "GET",
					headers: {
						Authorization: `Bearer ${store.state.accessToken}`
					}
				}
			);

			return {
				userInfo: userInfoReq.data,
				emergencies: emergenciesReq.data
			};
		} catch (e) {
			console.log(e); /* User ain't logged in! */
		}
	}
};
</script>

<style scoped>
section {
	height: 100vh;
}

.map-view {
	height: calc(100vh - 7.5rem);
	display: flex;
}

.top-spacer {
	height: 7.5rem;
	background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
	border-bottom: 1px #fd7069 solid;
}

.responder-no-emergency {
    width: 100%;
    height: calc(100vh - 7.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.responder-no-emergency > h1 {
    max-width: 75%;
}

.responder-no-emergency .button {
    margin-top: 2rem;
}
</style>
