<template>
	<section>
		<Jumbotron
			title="LifeLine"
			subtitle="Connect emergency services to those in need, fast and safe."
			background="linear-gradient(to top, #4481eb 0%, #04befe 100%)"
			color="white"
		/>

		<div class="section container page-content has-text-centered">
			<h2 class="title is-2">911, Reimagined.</h2>
			<p class="is-4">
				Traditional emergency response service infrastructure is aging.
				LifeLine brings emergency services into the information age,
				creating a powerful system for efficiently viewing emergencies
				and dispatching responders.
			</p>
		</div>
		<br />
		<div
			class="columns has-text-centered"
			style="max-width: 1024px; padding: 0.5rem; margin-left: auto; margin-right: auto;"
		>
			<div class="column is-vertical-centered">
				<h3 class="title is-2">
					Manage with Ease.
				</h3>
				<p class="is-4">
					Lifeline is a powerful tool for dispatching first responders
					to emergencies.
				</p>
			</div>
			<div class="column is-vertical-centered p-6">
				<img
					class="image"
					src="https://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif"
					style="border-radius: 16px"
				/>
			</div>
		</div>
		<br />
		<div
			class="columns has-text-centered"
			style="max-width: 1024px; padding: 0.5rem; margin-left: auto; margin-right: auto;"
		>
			<div class="column is-vertical-centered p-6">
				<img
					class="image"
					src="https://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif"
					style="border-radius: 16px"
				/>
			</div>
			<div class="column is-vertical-centered">
				<h3 class="title is-2">
					Be informed.
				</h3>
				<p class="is-4">
					Lifeline can automatically provide first responders with
					critical medical information before they arrive on the
					scene, saving precious minutes.
				</p>
			</div>
		</div>
		<br />
		<br />
		<Jumbotron
			title="Ready to Start?"
			subtitle="Set up Lifeline now."
			background="linear-gradient(to top, #4481eb 0%, #04befe 100%)"
			color="white"
		>
            <h2 class="subtitle has-text-white">
                <b-button
                    tag="nuxt-link" type="is-info" inverted outlined 
                    to="/login" class="footer-login"
                >
                    Log in
                </b-button>
            </h2>
		</Jumbotron>
	</section>
</template>

<script>
export default {};
</script>

<style>
* {
	box-sizing: border-box;
}

.is-vertical-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-login {
    width: 100%;
}
</style>
