<template>
    <section>
        <Jumbotron 
            title="Emergency Service Access"
            subtitle="Login to LifeLine"
            background="linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%)"
            color="white"
        />

        <div class="section container page-content">
            <form @submit.prevent="loginSubmit">
                <b-field label="Username">
                    <b-input 
                        type="text" v-model="username" 
                        :minlength="1" required 
                    />
                </b-field>

                <b-field label="Password">
                    <b-input 
                        type="password" v-model="password" 
                        :minlength="1" required 
                    />
                </b-field>

                <b-button native-type="submit" type="is-success">
                    Let's Get Going!
                </b-button>
            </form>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            username: null,
            password: null,
        };
    },
    methods: {
        async loginSubmit() {
            try {
                // Send POST to get tokens:
                const tokens = await this.$axios(`${process.env.apiURL}/auth/token`, {
                    method: "POST",
                    data: {
                        username: this.username,
                        password: this.password
                    }
                });

                // Add the data to store & redirect:
                this.$store.commit("LOG_IN", {
                    username: this.username,
                    accessToken: tokens.data.access,
                    refreshToken: tokens.data.refresh
                });

                // Go to dashboard:
                this.$router.push("/dashboard");
            } catch (e) {
                console.log(e);
                this.$swal("Username and password don't match.");
            }  
        }
    }
}
</script>

<style scoped>

</style>